/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    align-items: center;

}
main section div {  
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=text]{ 
    width: 400px;
    height: 30px; 
    border: none;
    margin: 5px 0 5px 0;
}

:focus{
    outline: none;
}

.searcharea{
    padding:0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 30px;
    height: auto;
    width: auto;
    background:transparent;
    
}

.searchbuttons{
    display: flex;
    flex-direction: row;
}

.button{
    border: none;
    cursor: pointer;
    padding: 7px 14px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    padding: auto 15px;
    margin: 30px 5px;
}

.button-secondary{
    background: white;
    color: #5f6368;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;

}

/* #search-icon > div{
    width: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* #microphone-icon > div{
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */



footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
    padding: 0 10px 0 25px;
    line-height: 40px;
    transform: translateY(150px);

}

.googlecontainer{
    padding-top: 10%;
    width: 100%;
}
.searcharea{
    position: relative;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: blue;
}
.nav {
    float: left;
}
.topright {
    float: right;
}
.bottomleft {
    float: left;
    padding-bottom: 1px;
}
.bottomright {
    float: right;
    padding-bottom: 1px;
}









